In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df = pd.read_csv("winequality-red.csv")

In [6]:
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [7]:
df['quality'].value_counts()

5    681
6    638
7    199
4     53
8     18
3     10
Name: quality, dtype: int64

In [8]:
!pip install imperio

Collecting imperio
  Downloading imperio-0.1.3.tar.gz (10 kB)
Requirement already satisfied: numpy in c:\users\user\anaconda3\lib\site-packages (from imperio) (1.21.5)
Requirement already satisfied: pandas in c:\users\user\anaconda3\lib\site-packages (from imperio) (1.4.2)
Requirement already satisfied: scikit-learn in c:\users\user\anaconda3\lib\site-packages (from imperio) (1.0.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\user\anaconda3\lib\site-packages (from pandas->imperio) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas->imperio) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas->imperio) (1.16.0)
Requirement already satisfied: scipy>=1.1.0 in c:\users\user\anaconda3\lib\site-packages (from scikit-learn->imperio) (1.7.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\user\anaconda3\lib\site-packages (from scikit-learn->imperio) (2.2.0)
Requirement already satisfied: joblib>=0.11 in c:\users\user\anaconda3\lib\site-packages (from scikit-learn->imperio) (1.1.0)
Building wheels for collected packages: imperio
  Building wheel for imperio (setup.py): started
  Building wheel for imperio (setup.py): finished with status 'done'
  Created wheel for imperio: filename=imperio-0.1.3-py3-none-any.whl size=23257 sha256=0e172cdaf3fe2ea424d0f28887e20d4ba9359b05cc0c7456a1785038dda82d39
  Stored in directory: c:\users\user\appdata\local\pip\cache\wheels\4e\ca\41\aa3f97b797ce5e732ceb69fd6e1c07b7c8c47075fcd4ab9863
Successfully built imperio
Installing collected packages: imperio
Successfully installed imperio-0.1.3

In [9]:
from imperio import TargetImputationTransformer
from sklearn.preprocessing import OrdinalEncoder

In [10]:
tit = TargetImputationTransformer(index=[12])

In [11]:
X = df.drop(["quality"], axis=1).values
y = df["quality"].values

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [26]:
ordinal_encoder = OrdinalEncoder(handle_unknown="use_encoded_value", unknown_value=-1)
X_12 = ordinal_encoder.fit_transform(X_train.reshape(-1, 1))
X_test_12 = ordinal_encoder.transform(X_test.reshape(-1, 1))

In [27]:
X_12.reshape(1,-1)[0]

array([69., 39., 49., ..., 49., 15., 55.])

In [28]:
X_train = X_12.reshape(1,-1)[0]
X_test= X_test_12.reshape(1,-1)[0]

In [29]:
X_train

array([69., 39., 49., ..., 49., 15., 55.])

In [30]:
X_train_tr = tit.fit_transform(X_train, y_train)
X_test_tr = tit.transform(X_test)

TypeError: transform() takes 2 positional arguments but 3 were given

In [24]:
X_train_tr

NameError: name 'X_train_tr' is not defined